= f.fields_for :document_items do |di|
  - di_item = di.object.item

  = label_tag :item_search
  = text_field_tag :item_search, nil,
    class: 'document_item_autocomplete',
    value: (di_item.name if di_item),
    data: {source: items_path}

  = di.text_field :item_id

  = di.label :quantity
  = di.number_field :quantity, value: 1

  = di.link_to_remove 'Remove'

= f.link_to_add 'Add item', :document_items
